<a href="https://colab.research.google.com/github/ranjitdriems/AI-102-AIEngineer/blob/master/DataEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Task 1: Writing Your First Python Script
print("Hello! Welcome to Python Programming.")

Hello! Welcome to Python Programming.

In [3]:
# Task 2: Exploring Basic Data Types
# Single Value Types
x = 5  # Integer
a = 3.14  # Float
boolean_value = True  # Boolean
num1 = 3 + 5j  # Complex number
name = "Alice"  # String

In [5]:

print(name.lower())

alice

In [6]:
print(name.upper())  # Convert to uppercase

ALICE

In [7]:
print(name.strip())  # Remove whitespace

Alice

In [8]:
print(name.replace("A", "E"))  # Replace characters

Elice

In [9]:
print(name.split("l"))  # Split string

['A', 'ice']

In [10]:
print("-".join(["Hello", "World"]))

Hello-World

In [11]:
# Task 3: Taking User Input
user_name = input("Enter your name: ")
print(f"Hello, {user_name}! Welcome to Python.")

Enter your name: Ranjit
Hello, Ranjit! Welcome to Python.

In [12]:
# Task 4: Performing Arithmetic Operations
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

Enter first number: 19
Enter second number: 29

In [13]:
print(f"Addition: {num1 + num2}")

Addition: 48.0

In [14]:
print(f"Subtraction: {num1 - num2}")

Subtraction: -10.0

In [15]:
print(f"Multiplication: {num1 * num2}")

Multiplication: 551.0

In [16]:
print(f"Division: {num1 / num2 if num2 != 0 else 'Undefined (Division by Zero)'}")

Division: 0.6551724137931034

In [31]:
# Task 5: Exploring Structures

# 5.1. Working with Lists
# Creating a List
my_list = [1, 2, 3]

In [32]:
# Indexing and Slicing
print("First element:", my_list[0])  # Access first element
print("Last two elements:", my_list[1:])  # Slice elements

First element: 1
Last two elements: [2, 3]

In [33]:
# List Methods
my_list.append(4)  # Add an element
print(my_list)

[1, 2, 3, 4]

In [34]:
my_list.extend([5, 6])  # Extend list
print(my_list)

[1, 2, 3, 4, 5, 6]

In [35]:
my_list.remove(2)  # Remove element
print(my_list)

[1, 3, 4, 5, 6]

In [36]:
popped_element = my_list.pop()  # Remove last element
print(f"Popped element: {popped_element}")
print(f"Updated list: {my_list}")

Popped element: 6
Updated list: [1, 3, 4, 5]

In [37]:
print("Modified list:", my_list)

Modified list: [1, 3, 4, 5]

In [38]:
# Nesting Lists
nested_list = [[1, 2], [3, 4]]
print("Nested List:", nested_list)

Nested List: [[1, 2], [3, 4]]

In [39]:
# Creating Tuples
my_tuple = (1, 2, 3)

In [40]:
# Indexing and Slicing
print("First element of tuple:", my_tuple[0])
print("Tuple slice:", my_tuple[1:])

First element of tuple: 1
Tuple slice: (2, 3)

In [41]:
# Tuple Methods
print("Count of 2 in tuple:", my_tuple.count(2))
print("Index of 3 in tuple:", my_tuple.index(3))

Count of 2 in tuple: 1
Index of 3 in tuple: 2

In [42]:
# Nesting Tuples
nested_tuple = ((1, 2), (3, 4))
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2), (3, 4))

In [44]:
# Creating a Dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [45]:
# Indexing and Accessing
print("Name:", my_dict['name'])
print("Age:", my_dict.get('age'))

Name: Alice
Age: 25

In [46]:
my_dict.update({'age': 26})  # Update value
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Alice', 'age': 26, 'city': 'New York'}

In [47]:
my_dict['country'] = 'USA'  # Add new key-value pair
print("Dictionary after adding:", my_dict)

Dictionary after adding: {'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [48]:
removed_value = my_dict.pop('city')  # Remove key-value pair
print(f"Removed value: {removed_value}")
print("Dictionary after removal:", my_dict)

Removed value: New York
Dictionary after removal: {'name': 'Alice', 'age': 26, 'country': 'USA'}

In [49]:
print("Updated Dictionary:", my_dict)

Updated Dictionary: {'name': 'Alice', 'age': 26, 'country': 'USA'}

In [50]:
# Nesting Dictionaries
nested_dict = {
    'person1': {'name': 'Alice', 'age': 26},
    'person2': {'name': 'Bob', 'age': 30}
}
print("Nested Dictionary:", nested_dict)

Nested Dictionary: {'person1': {'name': 'Alice', 'age': 26}, 'person2': {'name': 'Bob', 'age': 30}}